@import "/src/assets/scss/_style";

.container {
  margin: 1rem;
}

.list {
  background-color: whitesmoke;
  padding: 1rem;
  overflow-y: scroll;
  width: 500px;
  height: 300px;
  scroll-behavior: smooth;
}

.message {
  margin: 0.5rem 0;
  height: 2em;
  display: flex;
  align-items: flex-end;

  &__body {
    height: 2em;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: lightcoral;
    color: whitesmoke;
  }

  &__ts {
    margin: 0.5rem;
    height: 1em;
    color: darkgrey;
  }

  &.right {
    flex-flow: row-reverse;
  }
}

.input {
  width: 100%;
  display: flex;
  input {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
  }
}