<div class="page">
  <div class="page__container">
    <div class="main">
      <div class="main__videos video-main">
        <span>
          <h3>Local Stream</h3>
          <video #localVideo class="video-main__webcam" autoplay playsinline></video>
        </span>
        <span>
          <h3>Remote Stream</h3>
          <video #remoteVideo class="video-main__remote" autoplay playsinline [muted]="true"></video>
        </span>
      </div>

      <div class="main__settings settings-main">
        <button mat-raised-button color="primary" (click)="showModal(false)" [disabled]="isCallStarted$ | async">Start Call{{isCallStarted$ | async}}</button>

        <button mat-raised-button (click)="showModal(true)" [disabled]="isCallStarted$ | async">Join Call{{isCallStarted$ | async}}</button>

        <mat-slide-toggle (change)="onScreenShare($event)">Share Screen</mat-slide-toggle>
        <button mat-raised-button color="warn" (click)="endCall()" [disabled]="!(isCallStarted$ | async)">End Call{{isCallStarted$ | async}}</button>
      </div>
    </div>
  </div>
</div>