@import "/src/assets/scss/_style";

.page {
  flex: 1 1 auto;
  margin-top: rem(50);
}

.main {
}

.videos {
  display: grid;
  gap: rem(20);
  grid-template-columns: repeat(auto-fit, minmax(rem(500), 1fr));
  justify-items: center;
}
.video {
  display: flex;
  flex-direction: column;
  background: black;
  width: rem(600);
  height: rem(400);
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: rem(40);
  margin: rem(50) 0;
}
