<div class="wrapper">
  <div class="page">
    <div class="_container">
      <div class="main">
        <div #videos class="videos">
        </div>
      </div>
    </div>
  </div>
  <div class="settings">
    <button mat-raised-button color="primary" (click)="showModal(false)" [disabled]="isCallStarted$ | async">Start Call{{isCallStarted$ | async}}</button>
  
    <button mat-raised-button (click)="showModal(true)" [disabled]="isCallStarted$ | async">Join Call</button>
    <button mat-fab [color]="videoOn ? 'primary' : 'warn'" (click)="onVideoClick()" [disabled]="!(isCallStarted$ | async)">
      <span *ngIf="videoOn">
        <mat-icon>videocam</mat-icon>
      </span>
      <span *ngIf="!videoOn">
        <mat-icon>videocam_off</mat-icon>
      </span>
    </button>
    <button mat-fab [color]="audioOn ? 'primary' : 'warn'" (click)="onAudioClick()" [disabled]="!(isCallStarted$ | async)">
      <span *ngIf="audioOn">
        <mat-icon>volume_up</mat-icon>
      </span>
      <span *ngIf="!audioOn">
        <mat-icon>volume_off</mat-icon>
      </span>
    </button>
  
    
    <mat-slide-toggle 
      (change)="onScreenShare($event)" 
      [(ngModel)]="checked"
      [disabled]="!(isCallStarted$ | async) || !videoOn">Share Screen
    </mat-slide-toggle>
    
    <button mat-raised-button color="warn" (click)="endCall()" [disabled]="!(isCallStarted$ | async)">End Call{{isCallStarted$ | async}}</button>

    <mat-form-field appearance="fill">
      <mat-label>Video quality</mat-label>
      <mat-select (selectionChange)="changeQuality($event.value)" value="720">
        <mat-option value="1280">1280p</mat-option>
        <mat-option value="720">720p</mat-option>
        <mat-option value="480">480p</mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="bitrade">
      <div class="sent">Bytes sent: {{sentBytes}} Kbps</div>
      <div class="reseived">Bytes received: {{receivedBytes}} Kbps</div>
    </div>
  </div>
</div>
